:root {
    --main-text-color: #FFFFFF;
    --main-text-color-dr: #FFFFFF;
    --main-text-color-hov: #F4FBFF;
    --main-link-bgcolor: #FF007A;
    --main-font-familiy: "Nunito";
    --main-text-black-color: #211F25;
    --main-text-black-color-sec1: #211F25;
    --main-text-black-color-sec: #3D3A41;
    --main-simple-text-color: #000000;
    --main-text-hover-color: #F7F5FF;
    --main-roboto-familiy: "Roboto";
    --main-advance-item-hover-color: #FCFBFF;
    --main-social-media-color: #F4F4F4;
    --main-text-color-bg: #FFFFFF;
    --main-color:#ffffff;
    --main-new-sahdow:#CDE3EF;
    --main-text-hover:#FFF;
    --main-menu-color:#7E35EB;

}
* {
    box-sizing: border-box;
}
