@import "../mixins";
.needs {
    margin-top: 80px;
}

.needs__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.needs__top {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.needs__top-text {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.01em;
    color: var(--main-text-black-color);
}

.needs__top-desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: var(--main-text-black-color-sec);
}

.needs__list {
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.needs__item {
    width: 100%;
}

.needs__item:not(:last-child) {
    margin-bottom: 30px;
}

.needs__link {
    display: inline-block;
    padding: 0 16px;
    text-align: center;
    transition: background-color 0.5s ease;
    text-decoration: none;
}

.needs__item:hover {
    background-color: var(--main-text-hover-color);
}

.needs__img {
    margin-bottom: 33px;
}
.needs__last {
    margin: 0 auto;
    padding: 0 16px;
}

.needs__title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--main-text-black-color);
}

.needs__desc {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-black-color-sec);
    text-align: center;
}

.needs__link-view {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 155%;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-black-color);
    text-decoration: none;
}
.needs__item:hover .needs__link-view {
    color: var(--main-link-bgcolor);
}
@include media(375px) {
    .needs__item{
        padding: 16px 0;
    }
    .needs__top {
        max-width: 333px;
        width: 100%;
    }
}
@include media(767px) {
    .needs__img {
        max-width: 600px;
        width: 100%;
        max-height: 500px;
        height: 327px;
        // margin-bottom: 0;
    }
}
@include media(900px) {
    .needs__list {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }
    .needs__item {
        max-width: 305px;
        width: 100%;
    }
    .needs__title {
        font-size: 20px;
        line-height: 100%;
    }
}
@include media(768px) {
    .needs__top {
        max-width: 575px;
        width: 100%;
    }
    .needs__top-text {
        font-size: 48px;
        line-height: 120%;
    }
}
@include media(900px){
    .needs__top{
        margin-bottom: 80px;
    }
}
@include media(1200px) {
    .needs__item {
        max-width: 405px;
        width: 100%;
    }

    .needs__title {
        font-size: 32px;
        line-height: 120%;
    }
}
