@import "../mixins";

.simple {
    margin-bottom: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.simple__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.simple__text-box {
    margin: 0 auto;
    max-width: 297px;
    width: 100%;
}

.simple__title {
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--main-font-familiy);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.01em;
    color: var(--main-simple-text-color);
}

.simple__desc {
    margin: 0;
    margin-bottom: 30px;
    font-family: var(--main-font-familiy);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-simple-text-color);
}

.simple__list {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.simple__item {
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 17px;
}

.simple__item:hover {
    border: 1px solid var(--main-link-bgcolor);
    border-radius: 17px;
    transition: 0.5s ease;
}

.simple__item:hover .simple__link-get {
    background-color: var(--main-link-bgcolor);
    color: var(--main-text-color-dr);
    transition: 0.6s linear;
}

.simple__text-sec {
    margin: 0;
    margin-bottom: 8px;
    font-family: var(--main-roboto-familiy);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    color: var(--main-text-black-color);
}

.simple__money {
    display: inline-block;
    margin: 0;
    margin-bottom: 8px;
    font-family: var(--main-font-familiy);
    font-weight: 800;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: var(--main-text-black-color);
}

.simple__money-sp {
    display: inline-block;
    margin-bottom: 39px;
    font-family: var(--main-font-familiy);
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;

    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-black-color-sec);
}

.simple__list-sec {
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.simple__item-sec:not(:last-child) {
    margin-bottom: 16px;
}

.simple__item-sec:not(:last-child):before {
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 20px;
    background-image: url("/images/true-monile.svg");
    background-size: cover;
    content: " ";
}

.simple__link {
    font-family: var(--main-font-familiy);
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    letter-spacing: 0.02em;
    color: var(--main-text-black-color-sec);
    text-decoration: none;
}

.simple__link-get {
    max-width: 324px;
    width: 100%;
    display: block;
    padding: 16px 100px;
    font-family: var(--main-roboto-familiy);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--main-link-bgcolor);
    text-decoration: none;
    border: 1px solid var(--main-link-bgcolor);
    border-radius: 32px;
    text-align: center;
}
@include media(375px) {
    .simple__list {
        width: 100%;
    }
    .simple__item {
        max-width: 344px;
        width: 100%;
    }
}
@include media(900px) {
    .simple__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
    .simple__item {
        max-width: 405px;
        width: 100%;
    }
    .simple__link-get {
        max-width: 342px;
        width: 100%;
        margin: 0 auto;
    }
    .simple__text-box {
        max-width: 584px;
        width: 100%;
    }
    .simple__title {
        font-size: 48px;
        line-height: 120%;
        letter-spacing: -0.48px;
    }
}
@include media(1200px) {
    .simple__item {
        padding: 31px;
    }
}
